{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

	<form method="post" action="{% url 'torrent' %}" class="well form-search" id="searchFormTorrent">
		{% csrf_token %}
		<div class="input-append">
			<input id="searchTorrent" type="text" class="appendedInput span11" name="q" value="{{ q }}" autocomplete="off">
			<span class="add-on"><i class="icon-search"></i></span>
		</div>
		{# <button type="submit" class="btn">procurar</button> #}
	</form>


	<div id="movieList">
	<!-- (start) movieList -->
	<!-- (end) movieList -->
	</div>

	<div id="alertMsg"></div>
	<img src="{% static 'img/loading.gif' %}" style="display:none; margin-left: auto; margin-right: auto;" id="loading">

	{% if torrents %}

		<div class="page-header"></div>	
		<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td class="span1"></td>
				<td class="span6">nome</td>
				<td class="span1">detalhes</td>
				<td class="span1">torrent</td>
				<td class="span1">s</td>
				<td class="span1">l</td>
			</tr>
		</thead>
		<tbody>
			{% for torrent in torrents %}
			<tr>
				{% if torrent %}
					<td>{{ torrent.0 }}</td>
					<!-- <td><i class="icon-hdd"></i></td> -->
					<td>{{ torrent.1 }}</td>
					<td><a href="{{ torrent.2 }}"><span class="badge">detalhes</span></a></td>
					<td><a href="{{ torrent.3 }}"><span class="badge badge-info">download</span></a></td>
					<td>{{ torrent.4 }}</td>
					<td>{{ torrent.5 }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
		</table>

	{% elif total == 0 %}

		<div class="page-header"></div>	
		<h3>xi marquinho. nem encontrei as paradinhas. ): mals.</h3>
		
		dica: tente escrever o nome do filme <span class="label label-info">em inglês</span> e usar o <span class="label label-info">autocompletar</span>.
		
	{% endif %}

{% endblock %}