{% extends "base.html" %}

{% block content %}

{% if form.errors %}
{% endif %}

<p>
	<div class="page-header">
		<h1>O que é isso?</h1>
	</div>	

	<p>Você que está cansando de ver as propagandas que cercam o piratebay, esse é o lugar certo. Aqui ele mostra apenas os resultados dos torrents (roubados do piratebay) sem propagandas e organizados pelo o maior número de seeders. Isso é bem prático para quem não sabe usar torrent e acaba clicando em alguma propaganda acidentalmente ou para aqueles que estão cansados das propagandas.</p>

	<p>Em desenvolvimento. (:</p>
</p>

{% endblock %}