{% extends "base.html" %}

{% block content %}

{% if form.errors %}
{% endif %}

<p>
	<div class="page-header">
		<h1>O que é isso?</h1>
	</div>	

	<p>Você que está cansando de ver as propagandas que cercam o piratebay, esse é o lugar certo. Aqui ele mostra apenas dois resultados organizados com o maior número de seeders. Isso é bem prático para quem procura um filme especificamente e nada mais. Aliás, isso é bem mais interessante para quem não sabe usar o torrent e acaba clicando em alguma propaganda acidentalmente. :p</p>

	<p>Em desenvolvimento. Próximas atualizações terá como baixar as legendas específicas para o filme que você está baixando (pelo torrent).</p>

</p>

{% endblock %}