{% extends "base.html" %}

{% block content %}

{% if form.errors %}
{% endif %}

<form method="post" action="{% url 'main' %}">
{% csrf_token %}
<p>
	<input type="search" name="q" placeholder="Search here..." value="">
</p>
<input type="submit" value="procurar" />
{# <input type="hidden" name="next" value="{{ next }}" /> #}
</form>
{% for torrent in torrents %}
	{% if torrent %}
		<br/> ------------------ <br/>
		{{ torrent.0 }}	
		{{ torrent.1 }}	
		{{ torrent.2 }}	
		{{ torrent.3 }}	
		{{ torrent.4 }}	
		{{ torrent.5 }}	
	{% endif %}
{% endfor %}

{% endblock %}